@import 'font/xyz-webfont.css';
@import 'font/theroots-webfont.css';
@import 'font/playfair-display-webfont.css';

.withAlluraFont{
	font-family : alluraregular, Arial ;
	font-size : 2em;
}

.withPayfairDisplayFont{
	font-family : playfair_displayregular, Arial ;
	font-size : 1.5em;
}

.acrostiche > p {
   line-height : 100% 
}

.acrostiche > p::first-letter {
	font-family : playfair_displayregular, Arial ;
	color : red;
	font-size : 2rem;
}

.withTheRootsFont{
	font-family : therootsregular, Arial ;
	font-size : 2em;
}

.enEvidence {color : rgb(34, 34, 180) !important ;
            font-style : italic;}

.mybox {
  background-color: lightyellow;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.mywrapbox {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.myitem {
  flex: 1 1 auto;
  text-align: center;
  padding: 2px;
  margin: 8px;
}

.mycell {
  flex: 1 1 auto;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

img {
  max-width: 100%;
}            

@keyframes flash-anim {
                0% {opacity: 1;}
                25% {opacity: 0;}
                50% {opacity: 1;}
                75% {opacity: 0;}
                100% {opacity: 1;}
            }	
.myflash:hover { animation: flash-anim 3s;}	
           
.rond { transition: .3s ease-in-out;}
.rond:hover { border-radius : 50% ; }            

.tournerSurSoiMeme:hover { transform: rotate(360deg); transition: all 0.5s ease;}
	
.noirEtblanc { filter: grayscale(100%);  transition: .3s ease-in-out;}
.noirEtblanc:hover { filter: grayscale(0); }

@keyframes secouer-anim {
    0% {
      transform: rotate(10deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(10deg);
    }
    90% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
 /*
  .secouer:hover {
    animation: secouer-anim 3s;
  }
 */