<p class="entete"
    [style.background-color]="preferencesService.couleurFondPreferee">
    {{titre}} 
    <img width="30px" height="30px" src="assets/images/logo.png" />
    <a routerLink='/ngr-welcome'> welcome</a> &nbsp;
    <a routerLink='/ngr-basic'> basic</a> &nbsp;
    <a routerLink='/ngr-conversion'> conversion</a> &nbsp;
    <a routerLink="/ngr-logInOut">oauth2/oidc logInOut</a>&nbsp;
    <a routerLink='/ngr-devise'> devise (crud)</a> &nbsp;
    <a routerLink='/ngr-admin-devise'> admin-devise (partial)</a> &nbsp;
    <a routerLink='/ngr-demo'> demo</a> &nbsp;
</p> 
