<p>welcome to my-app (angular, j5)</p>
<i>{{message}}</i>
<hr/>
<mat-tab-group>
    <mat-tab label="Amerique">
        <ul>
           <li>Canada</li> <li>USA</li>  <li>Mexique</li>
           <li>Brésil</li> <li>Argentine</li>  <li>Perou</li>
           <li>Chili</li> <li>Bolivie</li>  <li>...</li>
        </ul>
    </mat-tab>
    <mat-tab label="Europe">
        <ul>
            <li>Allemagne</li> <li>France</li>  <li>Espagne</li>
            <li>Italie</li> <li>Royaume-Uni</li>  <li>Belgique</li>
            <li>Suisse</li> <li>Pologne</li>  <li>...</li>
         </ul>
    </mat-tab>
    <mat-tab label="Asie">
        <ul>
            <li>Chine</li> <li>Japon</li>  <li>Corée</li>
            <li>Inde</li>   <li>...</li>
         </ul>
    </mat-tab>
    <mat-tab label="Afrique">
        <ul>
            <li>Maroc</li> <li>Algérie</li>  <li>Tunisie</li>
            <li>Egypte</li>   <li>...</li>
         </ul>
    </mat-tab>
    <mat-tab label="Océanie">
        <ul>
            <li>Australie</li> <li>Nouvelle Zélande</li>   <li>...</li>
         </ul>
    </mat-tab>
</mat-tab-group>

