<p>basic works!</p>
<!--
<app-calculatrice></app-calculatrice>
<app-tva></app-tva>
-->



<!-- 
<toggle-panel title="calculatrice">
    <app-calculatrice></app-calculatrice>
</toggle-panel>

<toggle-panel title="calcul tva">
    <app-tva></app-tva>
</toggle-panel>
-->

<a routerLink="/ngr-basic/calculatrice/simple" >calculatrice simple</a><br>
<a routerLink="/ngr-basic/calculatrice/sophistiquee" >calculatrice sophistiquee</a><br>
<a routerLink="/ngr-basic/tva" >calculatrice de tva</a><br>
<a routerLink="/ngr-basic/tvaWithService" >calculatrice de tva (avec service)</a><br>​
<router-outlet></router-outlet>