<p class="entete"
    [style.background-color]="preferencesService.couleurFondPreferee">
    {{titre}} 
    <img width="30px" height="30px" src="assets/images/logo.png" />
    <a routerLink='/ngr-welcome'> welcome</a> &nbsp;
    <a routerLink='/ngr-bases/basic'> basic</a> &nbsp;
    <a routerLink='/ngr-devises/conversion'> conversion</a> &nbsp;
    <a routerLink='/ngr-login'> login</a> &nbsp;
    <a routerLink='/ngr-devises/devise'> devise (crud)</a> &nbsp;
    <a routerLink='/ngr-devises/admin-devise'> admin-devise (partial)</a> &nbsp;
    <a routerLink='/ngr-bases/demo'> demo</a> &nbsp;
</p> 
