<p>basic works!</p>
<!--
<bases-calculatrice></bases-calculatrice>
<bases-tva></bases-tva>
-->



<!-- 
<s-toggle-panel title="calculatrice">
    <bases-calculatrice></bases-calculatrice>
</s-toggle-panel>

<s-toggle-panel title="calcul tva">
    <bases-tva></bases-tva>
</s-toggle-panel>
-->

<a routerLink="/ngr-bases/basic/calculatrice/simple" >calculatrice simple</a><br>
<a routerLink="/ngr-bases/basic/calculatrice/sophistiquee" >calculatrice sophistiquee</a><br>
<a routerLink="/ngr-bases/basic/tva" >calculatrice de tva</a><br>
<a routerLink="/ngr-bases/basic/tvaWithService" >calculatrice de tva (avec service)</a><br/>
<router-outlet></router-outlet>