<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css"> 
</head>
<body>
    <div class="entete"><i>common header layout from views/layouts/main.handlebars</i></div>
    {{{body}}}
    <hr/>
    <div class="piedPage">
        <a href="/server-home" >server-home page</a> 
        &nbsp; <a href="calcul">nouveau calcul</a> <br/>
        <!-- <a href="/html/index.html" >(main) index.html</a> -->
        <p><i>common footer layout from views/layouts/main.handlebars</i></p>
    </div>
</body>
</html>